:root {
  --background-color: #98d5ca;
  --primary-font: "Montserrat", sans-serif;
  --text-uppercase: uppercase;
  --spacing-padding: 50px;
  --spacing-margin: 30px;
}

body {
  background-color: var(--background-color);
  padding: 60px;
  font-family: var(--primary-font);
  color: #fffbf6;
}
h1 {
  text-transform: var(--text-uppercase);
  margin-bottom: var(--spacing-margin);
  font-weight: 800;
  color: #fffbf6;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-margin);
}
.container {
  margin: 0 auto;
  width: 800px;
  padding: var(--spacing-padding);
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: rgba(13, 14, 37, 0.08) 0px 8px 8px 0px;
}
.form-control {
  padding: 10px;
  height: 40px;
  font-weight: 400;
  margin-right: 5px;
}
.btn-primary {
  text-transform: var(--text-uppercase);
  width: 170px;
  font-weight: 700;
}
.btn-secondary {
  margin-left: 5px;
  width: 60px;
}
.bi-geo-alt-fill {
  margin-top: -3px;
}
.btn-primary,
.btn-secondary {
  background-color: var(--forth-color);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  height: 40px;
}
.btn-primary:hover,
.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}
.todays-weather {
  display: flex;
  align-items: center;
}
.col-md-4 p {
  margin: 30px 0 30px 0;
  font-size: 18px;
}
#description:first-letter {
  text-transform: capitalize;
}
#icon {
  display: block;
  margin: 0 auto;
  width: 130px;
}
#city,
#description {
  font-size: 28px;
  font-weight: 700;
}
#showtemp {
  font-size: 60px;
}
#footer {
  font-size: 14px;
  text-align: center;
  margin: 15px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  opacity: 1;
}
@media (max-width: 810px) {
  body {
    padding: 30px;
  }
  form {
    flex-direction: column;
  }
  .container {
    width: 95%;
  }
  .form-control {
    width: 100%;
    margin: 3px 0;
  }
  .btn-primary {
    width: 100%;
    margin: 3px 0;
  }
  .btn-secondary {
    width: 100%;
    margin: 3px 0;
  }
  .todays-weather {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .col-md-4 p {
    margin: 0;
    text-align: center !important;
  }
  .row-weather-forecast {
    flex-direction: column;
    margin: 0 auto;
  }
  .weather-forecast-day {
    font-weight: 700;
  }
  .weather-forecast-temp {
    margin: 10px;
  }
}
