body {
  background-color: #dff0e5;
  font-family: "Roboto", sans-serif;
  margin: 70px;
  color: #0b6163;
}

button {
  margin-top: -3px;
}
.container {
  max-width: 900px;
  background: rgb(249, 255, 251, 0.8);
  padding: 60px 70px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #167d7f;
  border: 2px solid #167d7f;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  width: 200px;
  height: 39px;
  margin-right: 5px;
  transition: 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #0b6163;
  border: none;
}
.btn-secondary {
  background-color: #effaf2;
  border: 2px solid #167d7f;
  color: #167d7f;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  width: 50px;
}
.bi-geo-alt-fill {
  margin-bottom: 4px;
}
.btn-secondary:hover {
  background-color: #167d7f;
  border: 2px solid #167d7f;
}

.form-control {
  height: 40px;
  width: 487px;
  display: inline;
  margin-right: 10px;
  font-weight: 400;
}
.top,
.middle,
.bottom {
  padding-top: 40px;
}
.top,
.bottom {
  margin-top: 30px;
}
.top {
  text-align: left;
}
.middle {
  text-align: center;
}
.bottom {
  text-align: right;
}
#city {
  font-size: 30px;
  font-weight: 700;
}
#country {
  font-size: 16px;
  font-weight: 600;
}
#description {
  font-size: 30px;
  font-weight: 700;
}
#description:first-letter {
  text-transform: capitalize;
}
#icon {
  display: block;
  margin: 0 auto;
}
#date {
  font-size: 16px;
}
#showtemp {
  font-size: 60px;
  font-weight: 500;
}
.weather-forecast {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  text-align: center;
}
.weather-forecast-day {
  color: rgba(11, 97, 99, 0.8);
  font-size: 16px;
  font-weight: 500;
}
.weather-forecast-temp {
  color: rgba(11, 97, 99, 0.8);
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.footer {
  text-align: center;
  font-size: 13px;
}
#github-link {
  font-size: 12px;
  text-align: center;
  opacity: 0.8;
  margin: 5px;
}
